.adm-jogo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adm-jogo-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    margin: 30px 0;
    padding:50px 0;
}
.adm-jogo-card h1{
    margin-bottom: 25px;
}
.adm-jogo-card img{
    height:50px;
    width:50px; 
    margin-bottom:20px;
}
.form-inputs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.form-item input{
    width: 100%;
    margin: 5px 0;
    background-color:#E6E6E6;
    outline: none;
    border: none;
    height: 30px;
}
.form-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.adm-jogo-container .form-buttons button{
    width: 300px;
    height: 40px;
    border: none;
    background-color: #107C10;
    margin: 10px 0;
    border-radius:5px;
    color: #fff;
    font-weight: 600;
    font-size:16px;
    cursor: pointer;
    transition: all 0.7s;
}
.adm-jogo-container .form-buttons button:hover{
    background-color: #0f690f;
}
