.view-container{
    height: 100%;
    display: flex;
    padding: 100px;
    background-color:rgb(223, 152, 152);
    justify-content:center;
}

.view-img-genre img{
    width:350px;
    height:350px;
    border-radius:10px;
}
.view-conteudo-container{
    display: flex;
    flex-direction:column;
    width:100%;
    padding-left: 50px;
    position:relative;
}
.view-conteudo-container h2{
    margin-bottom:15px;
}
.view-conteudo-container p{
    text-align: justify;
    margin-bottom:20px
}
.view-conteudo{
    display: flex;
    align-items: center;
}
.view-conteudo h1{
    margin-right: 15px;
}
.view-buttons{
    position:absolute;
    bottom:30px;
    right: 0;
}
.view-buttons button{
    width:200px;
    height:40px;
    border-radius:5px;
    outline:none;
    border: none;
    color:#fff;
    background-color:#107C10;
    font-weight: 600;
    font-size:16px;
    cursor: pointer;
    margin: 0 25px;
    transition: all 0.7s;
}
.view-buttons button:hover{
    background-color: #0f690f;
}