html,body{
    background-color: #107C10;
}
.admin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 35%;
    margin: 100px 0;
    padding:50px 0;
}
.admin-card img{
    height:50px;
    width:50px; 
    margin-bottom:20px;
}
.admin-card h1{
    margin-bottom: 25px;
}
.admin-card a button{
    width: 300px;
    height: 40px;
    border: none;
    background-color: #107C10;
    margin: 10px 0;
    border-radius:5px;
    color: #fff;
    font-weight: 600;
    font-size:16px;
    cursor: pointer;
    transition: all 0.7s;
}
.admin-card button:hover{
    background-color: #0f690f;
}