.registro-container{
    background-color: #107C10;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-card{
    background-color: #fff;
    width:35%;
    height:70%;
    display: flex;
    align-items: center;
    flex-direction:column;
    border-radius:10px;
}
.registro-card h1{
    display: flex;
    justify-content: center;
}
.registro-card h2{
    margin: 10px 0;
}

.registro-card img{
    height:50px;
    width:50px; 
    margin:20px;
}

.registro-card h1{
    margin-bottom: 25px;
}

.registro-card p{
    font-weight: 600;
}

.registro-card input{
    margin: 5px 0;
    background-color:#E6E6E6;
    outline: none;
    border: none;
    height: 30px;
}
.registro-infos{
    display: flex;
    justify-content: space-around;
}
.registro-card .registro-buttons{
    width: 80%;
    margin: 20px auto;
}

.registro-card .registro-buttons button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #107C10;
    margin: 10px 0;
    border-radius:5px;
    color: #fff;
    font-weight: 600;
    font-size:16px;
    cursor: pointer;
    transition: all 0.7s;
}
.registro-card .registro-buttons button:hover{
    background-color: #0f690f;
}

@media screen and (max-width: 1400px){
    .registro-card{
        height:70%;
    }
    
}

@media screen and (max-width: 1650px){
    .registro-card{
        width:65%;
        height:85%;
    }
}

@media screen and (max-width: 450px){
    .registro-card{
        width:100%;
        height:100%;
        border-radius: 0;
    }
}